.page {
  width: 92vw;
  margin: 1.8rem auto 0 auto;
}
.header {
  gap: 1rem;
}
.header-logo {
  width: 7.5rem;
}
.nav-list {
  gap: 1rem;
}
.nav-link {
  font-size: 1.4rem;
  font-weight: 600;
}
.nav-link:hover {
  color: var(--primary-color);
}
.nav-icon {
  display: none;
}
.github,
.docs {
  font-size: 3.5rem;
}
.btn-light-mode,.btn-dark-mode{
  margin-top:0.3rem;
  color:var(--blue-semi-dark);
}
.btn-light-mode span, .btn-dark-mode span{
  font-size: 1.8rem;
}
.btn-light-mode:hover,.btn-dark-mode:hover{
  color:var(--yellow-dark);
  cursor:pointer;
}
.btn-dark-mode{
  display: none;
}
.hero {
  margin-top:2rem;
  min-height: 70vh;
  justify-content: center;
  gap: 1.5rem;
}
.hero-heading {
  font-size: 3.5rem;
  color: var(--primary-color);
}
.hero-sub-text-wrapper {
  gap: var(--spacing-xs);
  line-height: 1.5;
}
.hero-sub-text {
  font-size: 1.5rem;
  font-weight: 400;
}
.brand-name {
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 0.25rem 0.4rem;
  border-radius: var(--border-rd-6);
  color: var(--white-color);
}
.btn {
  font-size: 1.2rem;
  margin-top: var(--spacing-xs);
  box-shadow: 0 0px 20px rgba(26, 25, 25, 0.9);
  margin-bottom: 4rem;
}
.btn:active {
  transform: scale(0.95);
}
.page-footer {
  font-size: 1rem;
  position: absolute;
  bottom: 0.6rem;
  width: 92vw;
}

.page-footer a {
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 0.15rem 0.4rem;
  border-radius: var(--border-rd-6);
  color: var(--white-color);
}
@media only screen and (max-width: 500px) {
  .nav-icon {
    display: block;
  }
  .nav-link {
    display: none;
  }
}
@media only screen and (min-width: 1350px) {
  html {
    font-size: 120%;
  }
}
@media only screen and (min-width: 1650px) {
  html {
    font-size: 140%;
  }
}
