.alert {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-rd-6);
}
.alert-icon {
  align-self: center;
}
.alert-primary {
  background-color: var(--blue-light);
}
.alert-success {
  background-color: var(--green-light);
}
.alert-danger {
  background-color: var(--red-light);
}
.alert-warning {
  background-color: var(--yellow-light);
}
