.alert {
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  margin-top: var(--spacing-xs);
  border-radius: var(--border-rd-6);
  color: var(--black-color);
  width: 52%;
}
.alert-msg {
  overflow: hidden;
  word-wrap: break-word;
}
.alert-primary {
  background-color: var(--blue-light);
}
.alert-success {
  background-color: var(--green-light);
}
.alert-danger {
  background-color: var(--red-light);
}
.alert-warning {
  background-color: var(--yellow-light);
}
