.avatar-wrapper {
  background-color: #e5e5e5d8;
  border-radius: 6px;
  border: 2px solid hsl(0, 0%, 80%);
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem;
  padding: 1rem;
}
.avatar-circular {
  border-radius: 50%;
}
.avatar-xs {
  width: clamp(2rem, 2.5rem, 3rem);
  height: clamp(2rem, 2.5rem, 3rem);
}
.avatar-sm {
  width: clamp(4rem, 4.5rem, 5rem);
  height: clamp(4rem, 4.5rem, 5rem);
}
.avatar-md {
  width: clamp(6rem, 6.5rem, 7rem);
  height: clamp(6rem, 6.5rem, 7rem);
}
.avatar-lg {
  width: clamp(8rem, 8.5rem, 9rem);
  height: clamp(8rem, 8.5rem, 9rem);
}
.avatar-xl {
  width: clamp(10rem, 10.5rem, 11rem);
  height: clamp(10rem, 10.5rem, 11rem);
}
