.card {
  border: 1.35px solid var(--avocado-green);
  border-radius: 8px;
  background-color: var(--white-color);
  gap: var(--spacing-sm);
  width: 18.5rem;
  position: relative;
  color: var(--black-color);
}
.card-header {
  max-height: 17rem;
}
.card-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
span.icon-right {
  color: var(--dark-pastel-gray);
  position: absolute;
  right: var(--spacing-xs);
  font-size: 1.5rem;
}
span.icon-top {
  top: 10px;
  font-size: 1.5rem;
}
span.icon-dismiss {
  color: var(--charcoal-grey);
  font-size: 1.5rem;
}
span.icon-wishlist-dismiss-card {
  top: 18.6rem;
}

span.icon-center-right {
  top: 10px;
  color: var(--dark-pastel-gray);
}
.card-body {
  margin: 0 1rem 1rem 1rem;
  gap: 0.25rem;
}
.card-title {
  font-size: 1.4rem;
}
.card-text {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 300;
}
.card-section {
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-price {
  gap: var(--spacing-xs);
}
.card-current-price {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-price-striked {
  text-decoration: line-through var(--gravel-color);
}
.card-rating {
  gap: 0.3rem;
}
span.rating-icon{
  font-size: 1rem;
}
.rating-count {
  font-size: 0.7rem;
}
.card-actions {
  margin-top: 1.5rem;
  gap: 1rem;
}
.quantity {
  border: 1px solid var(--dark-pastel-gray);
  border-radius: 3px;
}
.btn-minus,
.btn-plus,
.quantity-count {
  padding: 0.3rem 0.6rem;
}
.btn-minus:hover,
.btn-plus:hover {
  background-color: var(--dark-pastel-gray);
}
.add-to-cart {
  background-color: var(--avocado-green);
  color: var(--white-color);
  border-radius: 3px;
  gap: 0.3rem;
  padding: var(--spacing-xs);
  font-size: 0.9rem;
}
.add-to-cart:hover {
  background-color: var(--spruce-color);
}
.btn-add-to-cart {
  font-weight: 600;
}
.card-badge {
  background-color: var(--spruce-color);
  color: var(--white-color);
  padding: 0.3rem 0.65rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  top: 10px;
  left: -3px;
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}
.card-overlay {
  height: 26rem;
}
.card-body-overlay {
  position: relative;
  top: -3rem;
}
.overlay-text {
  color: var(--text-color);
  background-color: var(--grey-see-through);
}
.card-only-text {
  min-height: 11rem;
}
.card-content-top {
  margin: 0 var(--spacing-sm);
  order: -1;
}
.card-vertical .card-title {
  margin-top: 0.9rem;
}
.card-horizontal {
  width: 23.5rem;
}
.card-horizontal-left {
  margin: auto;
  width: 50%;
}
.card-content-right {
  margin-top: var(--spacing-sm);
}
.card-horizontal-body {
  margin-top: 1.5rem;
}
@media only screen and (max-width: 370px) {
  .btn-add-to-cart {
    display: none;
  }
}
