.grid-wrapper {
  display: grid;
}
.two-col-layout {
  grid-template-columns: 1fr 1fr;
}
.three-col-layout {
  grid-template-columns: 1fr 1fr 1fr;
}
.auto-fill-col-layout {
  grid-template-columns: repeat(auto-fill, minmax(10rem, auto));
}
.grid-gap{
    gap:var(--spacing-sm);
}
.item {
  background-color: var(--primary-color);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-rd-3);
}
