.form-group {
  background-color: var(--gunmental-color);
  border: 1px solid var(--gravel-color);
  padding: 1.5rem 1.5rem;
  border-radius: var(--border-rd-6);
  width: 20rem;
}
label,
.title {
  color: var(--white-color);
}
label {
  display: block;
}
input:focus,
textarea:focus {
  outline: 2px solid transparent;
}
input {
  border: none;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-field {
  width: 16rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  border-radius: var(--border-rd-6);
}
.input-field-error + small {
  color: var(--red-dark);
  display: none;
}
.input-field-error:focus + small {
  display: flex;
}
.input-field-error:focus {
  border: 1.5px solid var(--grape-fruit);
}
.form-group-text-area {
  height: 11rem;
}
.text-area {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
.form-group-input-control {
  display: flex;
  gap: 0.5rem;
}
.input-control {
  align-self: center;
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary-color);
}
.input-field-file {
  color: white;
  padding: 0.6rem 0.3rem;
  border: 1px solid var(--charcoal-grey);
  border-radius: var(--border-rd-6);
}
.input-field-file::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.4rem;
  border-radius: var(--border-rd-6);
  background-color: var(--primary-color);
  color: var(--white-color);
}
.icon-input-field {
  display: flex;
  gap: 0.5rem;
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: var(--border-rd-6);
}
.input-field-icon {
  color: var(--baltic-sea-color);
  font-size: 1.5rem;
}
