.navigation {
  width: 100%;
  background-color: var(--purple-dark);
  padding: var(--spacing-sm);
  border-radius: var(--border-rd-3);
  color: var(--white-color);
}
.nav-links,
.nav-menu {
  gap: var(--spacing-sm);
}
.nav-title {
  align-self: flex-start;
}
h3 {
  margin: 0;
  padding: 0;
}
