span.rating-icon {
  color: var(--yellow-dark);
  font-size:1.3rem;
}
.rating-container {
  width: fit-content;
  padding: var(--spacing-xs) var(--spacing-xs);
  border-radius: var(--border-rd-3);
  color:var(--white-color);
}
.bg-grey {
  background-color: var(--secondary-color);
}
.bg-spruce {
  background-color: var(--spruce-color);
}
