.page {
  width: 80vw;
  margin: 1.8rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  overflow: hidden;
}
.header {
  gap: var(--spacing-sm);
  grid-area: header;
}
.header-logo {
  width: 7.5rem;
  margin-bottom: var(--spacing-xs);
}
.header .hamburger-menu{
  display: none;
  font-size: 2.8rem;
}
.header-title{
  color:var(--primary-color);
  padding: 0;
  font-size: 2.2rem;
}
.sidebar-title{
  color:var(--primary-color);
  display: none;
  font-size: 2rem;
}
.header-left-wrapper{
  gap:var(--spacing-xs);
}
.nav-list {
  gap: var(--spacing-sm);
}
.nav-link {
  font-size: 1.4rem;
  font-weight: 600;
}
.nav-icon .github{
  font-size: 2.8rem;
}
.sidebar {
  grid-area: sidebar;
}
.sidebar-header{
  padding-right:var(--spacing-sm);
}
.sidebar-heading {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding: 0 0 var(--spacing-xs) var(--spacing-sm);
  border-bottom: 1px solid var(--charcoal-grey);
}
.component-heading{
  margin-top:var(--spacing-sm);
}
.sidebar-list {
  gap: var(--spacing-xs);
}
.sidebar-item {
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: 1.1rem;
}
.sidebar-item:hover {
  background-color: var(--baltic-sea-color);
  border-radius: 2px;
  border-right: 6px solid var(--primary-color);
}
.active{
  background-color: var(--baltic-sea-color);
  border-radius: 2px;
  border-right: 6px solid var(--primary-color);
}
.page-main {
  grid-area: main;
}

.page-footer {
  grid-area: footer;
}
.content {
  gap: var(--spacing-xs);
  padding-bottom: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
  border-bottom: 1px solid var(--charcoal-grey);
}
.content-title {
  padding-top: 0;
}
.page-footer {
  font-size: 1rem;
  margin-bottom: var(--spacing-sm);
}
.page-footer a {
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 0.15rem 0.4rem;
  border-radius: var(--border-rd-6);
}
.sidebar .menu-close{
  border-radius: 50%;
  padding:var(--spacing-xs);
  margin-top:1rem;
  display: none;

}
.menu-close:hover{
  background-color:var(--charcoal-grey);
}
.input-wrapper{
  background-color: var(--baltic-sea-color-dark);
  padding-top:2rem;
  padding-bottom:2rem;
}
.highlighted-text{
   padding:0 var(--spacing-xs);
   background-color: var(--yellow-light);
   color:var(--black-color);
   border-radius: var(--border-rd-3);
   margin:0 0.2rem;
   font-weight:600;
   line-height: 1.5;
}
.page-link:hover{
color:var(--blue-semi-dark);
}

@media only screen and (min-width:1350px){
html{
  font-size: 120%;
}
}
@media only screen and (min-width:1650px){
  html{
    font-size: 140%;
  }
}
  

@media only screen and (max-width: 800px) {
  .page {
    width: 85vw;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
  .header-title{
    display: none;
  }
  .sidebar-heading{
    margin-top:2rem;
  }
  .sidebar .menu-close{
    display: flex;
  }
  .header-logo{
    display:none;
  }
  .header .hamburger-menu{
    display: block;
  }
  aside{
    transition:all 0.3s ease-in;
  }
  .sidebar {
    position: fixed; 
     z-index: 3;
    background-color: var(--dark-theme-bg);
    width:50%;
    height:100%;
    box-shadow: 10px 0 5px -5px rgba(26, 25, 25, 0.9);
    top:0;
    left:0;
    padding-left:var(--spacing-sm);
    padding-bottom: var(--spacing-xs);
    overflow-y: auto;
  }
  .sidebar-title{
    display: block;
    padding-left:var(--spacing-sm);
    margin-top:var(--spacing-xs);
  }

}
@media only screen and (max-width:450px){
  .sidebar{
    width:70%;
  }
}