.codeblock{
  line-height: 1.2;
  padding-left:2rem;
}
::-webkit-scrollbar{
  width:12px;
}
::-webkit-scrollbar-track{
  background-color: var(--baltic-sea-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--charcoal-grey);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--grey-color);
}
pre {
  white-space: pre-line;
  font-size: 1rem;
  max-height:18rem; 
  overflow-y: auto;
  margin-bottom: var(--spacing-sm);

}
.codeblock-container{
  position: relative;
}

.copy {
  font-size: 1.6rem;
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  cursor: pointer;
  z-index:1;
  color:var(--white-color);
}
.copy:active {
  transform: scale(0.9);
}
.copied-snackbar{
    display: none;
    padding:var(--spacing-xs) var(--spacing-sm);
    background-color: var(--blue-semi-dark);
    width:fit-content;
    border-radius: var(--border-rd-3);
    position: absolute;
    top: 0.8rem;
    right: var(--spacing-sm);
    z-index:2;
    color:var(--white-color);
}