:root {
  --primary-color: hsl(235, 86%, 65%);
  --primary-hover: hsl(235, 87%, 70%);
  --secondary-color: hsl(248, 10%, 30%);
  --secondary-color:hsl(248, 10%, 40%);
  --text-color: hsl(225, 4%, 20%);
  --accent-color: hsl(55, 86%, 65%);
  --white-color: hsl(0, 0%, 100%);
  --primary-alert:hsl(228, 100%, 73%);
  --primary-alert:#4285f4;
  --secondary-alert:#ACA9BB;
  --success-alert:#00C992 ;
  --danger-alert:#FF6369 ;
  --warning-alert:#FFC558;
}
