:root {
  --primary-color: hsl(235, 86%, 65%);
  --primary-hover: hsl(235, 86%, 69%);
  --secondary-color: hsl(248, 10%, 30%);
  --secondary-hover: hsl(248, 10%, 40%);
  --light-theme-text-color: hsl(225, 4%, 20%);
  --dark-theme-bg: #202124;
  --accent-color: hsl(55, 86%, 65%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --grey-color: hsl(0, 0%, 50%);
  --white-lilac: hsl(210, 25%, 97%);
  --blue-semi-dark: hsl(217, 92%, 61%);
  --bright-blue: hsl(217, 92%, 50%);
  --blue-light: hsl(217, 75%, 85%);
  --lemon-green: hsl(78, 100%, 40%);
  --lemon-green-light: hsl(78, 98%, 80%);
  --red-dark: hsl(358, 100%, 69%);
  --red-light: hsl(358, 100%, 83%);
  --yellow-dark: hsl(40, 96%, 53%);
  --yellow-light: hsl(55, 86%, 87%);
  --yellowish-orange: hsl(40, 96%, 53%);
  --purple-light: hsl(228, 96%, 89%);
  --purple-dark: hsl(239, 84%, 67%);
  --skyblue-light: hsl(201, 94%, 86%);
  --skyblue-dark: hsl(199, 89%, 48%);
  --pastel-grey: hsl(210, 25%, 97%);
  --green-dark: hsl(164, 100%, 32%);
  --green-light: hsl(164, 100%, 35%);
  --grape-fruit: hsl(8, 69%, 50%);
  --flame-pea: hsl(8, 69%, 55%);
  --blood-red: hsl(358, 100%, 30%);
  --orange-dark: hsl(36, 99%, 47%);
  --orange-peel: hsl(36, 99%, 53%);
  --baltic-sea-color: hsl(220, 10%, 18%);
  --baltic-sea-color-dark:hsl(217, 11%, 15%);
  --charcoal-grey: hsl(225, 10%, 26%);
  --forest-green: hsl(120, 100%, 25%);
  --gunmental-color: hsl(225, 4%, 20%);
  --gravel-color: hsl(223, 5%, 30%);
  --dark-pastel-gray: hsl(0, 0%, 80%);
  --avocado-green: hsl(81, 56%, 57%);
  --spruce-color: hsl(146, 85%, 18%);
  --grey-see-through: hsl(0, 30%, 95%, 0.3);
}
