*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
/* Modifying media defaults */
img,
picture,
video,
canvas,
iframe,
svg {
  display: block;
  max-width: 100%;
}
/* Remove built-in form typography styles */
input,
button{
  font: inherit;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Modifying default values of lists and links */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
